header {
    
    background: url(../assets/img/bg-slider-06.jpg) center/cover;
    min-height: 100vh;
    color: rgb(255, 254, 254);
    padding: 50px;
    position: relative;
    z-index: 1000;
    
    

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 1000px) {
            justify-content: space-between;
        }
       
        

        & h3 {
            font-family: "font-1";
            font-size: 2.5rem;
        }

        & .nav-menu {
            display: flex;
            @media (max-width: 1000px) {
                display: none;
            }
            
        }
        & .nav-menu li {
            padding: 0 40px;
            font-size: 0.9rem;
            font-family: "font-3";
            &:hover {
                cursor: pointer;
                transition: 0.3s;
                transform: scale(1.2);
            }
            @media (max-width: 1250px) {
                padding: 0 20px;
            }
          

        }
        & .icons {
            display: flex;
        }
        & .icons li {
            padding: 0 20px;
            &:hover {
                cursor: pointer;
                transition: 0.3s;
            }
            
        }
        & .icons img {
            height: 70%;
        }
    }
    .text {
        text-align: center;
        padding-top: 180px;

        @media (max-width: 500px) {
            padding-top: 150px;
        }

        & h3 {
            font-family: "font-1";
            font-size: 4rem;
            color: rgb(166, 114, 69);
            font-weight: 100;
            margin: 0;
            line-height: 0px;
            
        }
        & h2 {
            font-family: "font-2";
            font-size: 3.5rem;
            font-weight: 600;
            letter-spacing: 20px;

            @media (max-width: 590px) {
                letter-spacing: 10px;
                padding-top: 20px;
            }
            @media (max-width: 500px) {
                font-size: 2.5rem;
            }
          
        }

        & img {
            padding-top: 50px;
            padding-bottom: 40px;

            @media (max-width: 590px) {
                padding-bottom: 20px;
            }
            
        }
        & p {
            font-family: "font-3";
            letter-spacing: 10px;

            @media (max-width: 590px) {
                letter-spacing: 7px;
            }
            @media (max-width: 500px) {
                font-weight: 900;
            }
        }
    }
}