@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

main {
  background: #21201e;
}

header {
  background: url(../assets/img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
  color: #fffefe;
  padding: 50px;
  position: relative;
  z-index: 1000;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header nav h3 {
  font-family: "font-1";
  font-size: 2.5rem;
}

header nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  header nav .nav-menu {
    display: none;
  }
}

header nav .nav-menu li {
  padding: 0 40px;
  font-size: 0.9rem;
  font-family: "font-3";
}

header nav .nav-menu li:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1250px) {
  header nav .nav-menu li {
    padding: 0 20px;
  }
}

header nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .icons li {
  padding: 0 20px;
}

header nav .icons li:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .icons img {
  height: 70%;
}

header .text {
  text-align: center;
  padding-top: 150px;
}

@media (max-width: 500px) {
  header .text {
    padding-top: 150px;
  }
}

header .text h3 {
  font-family: "font-1";
  font-size: 4rem;
  color: #a67245;
  font-weight: 100;
  margin: 0;
  line-height: 0px;
}

header .text h2 {
  font-family: "font-2";
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 20px;
}

@media (max-width: 590px) {
  header .text h2 {
    letter-spacing: 10px;
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  header .text h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 415px) {
  header .text h2 {
    letter-spacing: 5px;
  }
}

header .text img {
  padding-top: 50px;
  padding-bottom: 40px;
}

@media (max-width: 590px) {
  header .text img {
    padding-bottom: 20px;
  }
}

header .text p {
  font-family: "font-3";
  letter-spacing: 10px;
}

@media (max-width: 590px) {
  header .text p {
    letter-spacing: 7px;
  }
}

@media (max-width: 500px) {
  header .text p {
    font-weight: 900;
  }
}

.our-store {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
}

@media (max-width: 750px) {
  .our-store {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.our-store .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(166, 114, 69, 0.267);
}

.our-store .text h3 {
  font-family: "font-1";
  color: #a67245;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 20px;
}

.our-store .text h4 {
  font-family: "font-2";
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: -10px;
}

.our-store .text img {
  margin: 20px 0 20px;
}

.our-store .text p {
  font-family: "font-3";
  font-weight: 500;
}

.our-store .text .avatar-01 {
  border-radius: 150px;
}

@media (max-width: 750px) {
  .our-store .text .avatar-01 {
    height: 100px;
  }
}

.our-store .text h5 {
  font-family: "font-2";
  font-size: 1.2rem;
}

.our-store .text h6 {
  font-family: "font-3";
  font-size: .9rem;
  color: rgba(128, 128, 128, 0.521);
  margin-bottom: 20px;
}

.our-store .our-store-img {
  background: url(../assets/img/store-01.jpg) center/cover;
}

@media (max-width: 750px) {
  .our-store .our-store-img {
    display: none;
  }
}

.menu {
  text-align: center;
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}

.menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 620px;
  background: url(../assets/img/bg-menu-01.jpg) center/cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: -330px;
}

.menu h5 {
  color: #a67245;
  font-size: 2rem;
  font-weight: 500;
  padding: 60px 0 30px;
  font-family: "font-1";
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 30px auto;
}

.menu ul li {
  border-bottom: 1px solid rgba(238, 238, 238, 0.6);
  padding-bottom: 8px;
  font-family: "font-2";
}

@media (max-width: 750px) {
  .menu ul li {
    margin: auto 20px;
  }
}

@media (max-width: 550px) {
  .menu ul li {
    margin: auto 10px;
  }
}

@media (max-width: 450px) {
  .menu ul li {
    font-size: 0.8rem;
  }
}

.menu ul li:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  color: black;
  border-bottom: black;
}

.menu .plats {
  position: relative;
  background: #fbfaf6;
  color: #222;
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
  border-top: 4px solid #af7746;
  padding: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media screen and (max-width: 750px) {
  .menu .plats {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu .plats .plat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 60% 15%;
      grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.18);
  padding: 30px 0;
  margin: 0 20px;
}

.menu .plats .plat img {
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 750px) {
  .menu .plats .plat img {
    width: 50%;
  }
}

.menu .plats .plat .text-plat {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.menu .plats .plat .text-plat h3 {
  text-transform: uppercase;
  color: #222;
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-family: "font-2";
  font-weight: 600;
}

@media (max-width: 450px) {
  .menu .plats .plat .text-plat h3 {
    font-size: 0.7rem;
  }
}

.menu .plats .plat .text-plat p {
  color: #222;
  font-size: 0.8rem;
  font-family: "font-3";
  font-weight: 300;
}

.menu .plats .plat > p {
  color: #a67245;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-family: "font-2";
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  max-width: 75%;
  margin: 70px auto 30px;
}

@media screen and (max-width: 680px) {
  .contact {
    margin-bottom: 100px;
  }
}

@media (max-width: 1060px) {
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.contact .horaires-container {
  background: black;
}

.contact .horaires-container .horaires {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-style: dashed;
  border-color: #fbfaf62f;
  border-width: 1px;
  margin: 10px;
  padding: 15px;
}

.contact .horaires-container .horaires h3 {
  font-family: "font-1";
  color: #a67245;
  font-size: 2.5rem;
  font-weight: 100;
}

.contact .horaires-container .horaires h4 {
  font-family: "font-2";
  color: #eee;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  margin-top: -20px;
}

.contact .horaires-container .horaires img {
  margin-top: 20px;
}

.contact .horaires-container .horaires h5 {
  font-family: "font-2";
  color: #a67245;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 30px auto 10px;
}

.contact .horaires-container .horaires p {
  font-family: "font-3";
  color: #eee;
  font-size: 0.8rem;
}

.contact .formulaire-container {
  background: #eee;
}

.contact .formulaire-container .formulaire {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 50px 20px;
}

.contact .formulaire-container .formulaire h4 {
  font-family: "font-1";
  color: #a67245;
  font-size: 2.5rem;
  font-weight: 100;
}

.contact .formulaire-container .formulaire h3 {
  font-family: "font-2";
  color: black;
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin: -20px;
  font-weight: 600;
}

.contact .formulaire-container .formulaire img {
  margin: 50px 0 40px;
}

.contact .formulaire-container .formulaire .form-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 630px) {
  .contact .formulaire-container .formulaire .form-container form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .contact .formulaire-container .formulaire .form-container form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.contact .formulaire-container .formulaire .form-container form input {
  border: thin;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
  padding-bottom: 10px;
}

.contact .formulaire-container .formulaire .form-container form input:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .formulaire-container .formulaire a button {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 50px;
  background: black;
  font-family: "font-2";
  color: #eee;
  letter-spacing: 5px;
  border-width: 1px;
}

.contact .formulaire-container .formulaire a button:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: brown;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.events {
  background: #21201e;
  padding: 50px 0 90px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .events {
    display: none;
  }
}

.events .events-container {
  max-width: 75%;
  margin: 0 auto;
}

.events .events-container h2 {
  font-size: 2.5rem;
  color: #a69045;
  font-weight: 100;
  font-family: "font-1";
}

.events .events-container h4 {
  font-family: "font-2";
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 900;
  color: #eee;
  margin-top: -12px;
}

.events .events-container img {
  margin: 40px 0;
}

.events .events-container .event-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 1fr;
      grid-template-columns: 58% 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "event1 event3" "event2 event3";
  gap: 20px;
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.events .events-container .event-grid > div {
  margin: 20px;
}

.events .events-container .event-grid .date-content {
  background: #333;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 22px;
}

.events .events-container .event-grid .date-content h6 {
  font-size: 1.2rem;
  font-family: "font-3";
}

.events .events-container .event-grid .date-content span {
  font-family: "font-3";
}

.events .events-container .event-grid .infos {
  background: #eee;
}

.events .events-container .event-grid .infos h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
  font-family: "font-2";
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .infos h3 {
    padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .events .events-container .event-grid .infos h3 {
    font-size: 1.1rem;
  }
}

.events .events-container .event-grid .infos p {
  font-size: 0.9rem;
  color: gray;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "font-3";
}

@media screen and (max-width: 800px) {
  .events .events-container .event-grid .infos p {
    font-size: 0.8rem;
  }
}

.events .events-container .event-grid .infos p img {
  margin: 0;
  height: 10px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.events .events-container .event-grid .infos p img:last-child {
  margin-left: 5px;
}

.events .events-container .event-grid .infos a button {
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: "font-2";
  border: none;
}

.events .events-container .event-grid .infos a button:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #a69045;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.events .events-container .event-grid .event-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
  text-align: left;
}

.events .events-container .event-grid .event-left .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events .events-container .event-grid .event-left .infos {
  padding: 30px 20px;
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-1 {
    height: 200px;
  }
}

.events .events-container .event-grid .event-1 .date {
  background: url(../assets/img/event-01.jpg) center/cover;
}

.events .events-container .event-grid .event-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: event2;
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-2 {
    height: 200px;
  }
}

.events .events-container .event-grid .event-2 .date {
  background: url(../assets/img/event-02.jpg) center/cover;
}

.events .events-container .event-grid .event-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: event3;
  background: url(../assets/img/event-03.jpg) center/cover;
  padding: 25px;
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-3 {
    background: none;
    padding: 0;
  }
}

.events .events-container .event-grid .event-3 .infos {
  height: 100%;
  padding: 0 12px;
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-3 .infos {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 39% 61%;
        grid-template-columns: 39% 61%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-3 .infos .date {
    background: url(../assets/img/event-03.jpg) center/cover;
    height: 200px;
    width: auto;
    position: relative;
  }
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-3 .infos .date .date-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1380px) {
  .events .events-container .event-grid .event-3 .infos .event-3-info {
    text-align: left;
    padding-left: 20px;
    margin: 0;
  }
}

.events .events-container .event-grid .event-3 .infos h3 {
  margin: 40px 0 15px;
  padding: 0;
}

.events .events-container .event-grid .event-3 .infos h5 {
  padding: 45px;
}

.mots-du-chef {
  position: relative;
  height: 700px;
  z-index: 1;
}

.mots-du-chef:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  background: url(../assets/img/gmap.jpg) center/cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: -200px;
  z-index: -1;
}

.mots-du-chef .mots-du-chef-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #eee;
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.mots-du-chef .mots-du-chef-container img {
  border-radius: 150px;
  height: 90px;
  margin-top: -50px;
}

.mots-du-chef .mots-du-chef-container p img {
  height: 10px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mots-du-chef .mots-du-chef-container p {
  font-family: "font-3";
  line-height: 30px;
  max-width: 80%;
  margin: 30px auto;
  font-size: 1.2rem;
}

.mots-du-chef .mots-du-chef-container h4 {
  font-family: "font-2";
  font-size: 1.5rem;
  font-weight: 400;
}

.mots-du-chef .mots-du-chef-container h6 {
  font-family: "font-3";
  color: #a69045;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
  }
}

footer .footer-left {
  padding: 50px;
  padding-left: 200px;
  line-height: 35px;
  background: black;
}

@media screen and (max-width: 875px) {
  footer .footer-left {
    line-height: 25px;
  }
}

@media screen and (max-width: 1050px) {
  footer .footer-left {
    padding-left: 50px;
  }
}

footer .footer-left h6 {
  font-family: "font-1";
  font-size: 3rem;
  color: #a69045;
  font-weight: 300;
  margin-bottom: 20px;
}

footer .footer-left p {
  font-family: "font-3";
  color: rgba(238, 238, 238, 0.507);
}

@media screen and (max-width: 650px) {
  footer .footer-left p {
    font-size: 0.9rem;
  }
}

footer .footer-right {
  padding: 50px;
  background: #21201e;
}

footer .footer-right h5 {
  color: #eee;
  font-family: "font-3";
  font-size: 1.2rem;
}

footer .footer-right .newsletter input {
  margin: 20px auto;
  background: none;
  padding: 10px 15px;
  padding-right: 80px;
  border: solid 1px rgba(166, 143, 69, 0.301);
  font-size: 1rem;
}

@media screen and (max-width: 750px) {
  footer .footer-right .newsletter input {
    padding-right: 0px;
  }
}

footer .footer-right .newsletter input:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer-right .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media screen and (max-width: 875px) {
  footer .footer-right .follow {
    display: block;
  }
}

footer .footer-right .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-right .follow ul li {
  margin: auto 20px;
}

@media screen and (max-width: 875px) {
  footer .footer-right .follow ul li {
    margin-top: 20px;
    margin-left: 0px;
  }
}

footer .footer-right .follow ul li img {
  height: 15px;
}

footer .footer-right .follow ul li img:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 875px) {
  footer .footer-right .follow ul li img {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
/*# sourceMappingURL=style.css.map */